html, body{

    background-image: url('../img/login_slika.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

table {
    margin-top: 10%;
    opacity: 0.95;
   
}

.table-sortable tbody tr {
    cursor: move;
}

tbody{
    background-color: grey;
    
}

thead{
    background-color: white;
}

.tableBody td{
    word-wrap: break-word;
}

a button{
    cursor: pointer;
    width: 200px;
    height: 50px;
    transition: all 1s ease;
    border-radius: 10px;
}

a button:hover{
    background-color: red;
}
